Version_24_mai.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>4dc72234-0188-1000-523c-c053f718f282</groupId>
    <name>Version_24_mai</name>
    <snippet>
        <connections>
            <id>4dc8fc45-a816-3812-0000-000000000000</id>
            <parentGroupId>ef7ec5fc-8a36-3205-0000-000000000000</parentGroupId>
            <versionedComponentId>4dc8fc45-a816-3812-b19b-0e9b79cf1841</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>19f54654-3431-33ac-0000-000000000000</groupId>
                <id>5425d6a1-13bf-3f10-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>983cc80a-bd19-31ae-833a-0ea051901ecb</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                <id>27936326-fa67-3ec6-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>e76bc652-6a22-38d3-8f46-75052dd975ed</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processGroups>
            <id>19f54654-3431-33ac-0000-000000000000</id>
            <parentGroupId>ef7ec5fc-8a36-3205-0000-000000000000</parentGroupId>
            <position>
                <x>632.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>19f54654-3431-33ac-a24b-cb04d6ccc09d</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>262e61fc-c522-39f2-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <versionedComponentId>eb56a1c4-af0d-36f1-b8e2-81d0c2e9bd28</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>19f54654-3431-33ac-0000-000000000000</groupId>
                        <id>48dfaf70-2b9b-3144-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ee8efefd-1865-3062-8c81-c8e702d9b957</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>19f54654-3431-33ac-0000-000000000000</groupId>
                        <id>5425d6a1-13bf-3f10-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>983cc80a-bd19-31ae-833a-0ea051901ecb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b723dc15-ac18-3287-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <versionedComponentId>2c978d81-80d9-37a6-869b-a7129848a173</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>19f54654-3431-33ac-0000-000000000000</groupId>
                        <id>f5de0f2a-46a1-3997-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5571a055-257c-37c1-b3e9-9d3be102f17b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>19f54654-3431-33ac-0000-000000000000</groupId>
                        <id>48dfaf70-2b9b-3144-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ee8efefd-1865-3062-8c81-c8e702d9b957</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>013075ce-56a5-3263-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <versionedComponentId>345f6cb4-2756-3667-a84b-35568b54d69d</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>
<dependencies>
    <dependentValues>rfc-4180</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim double quote</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <controllerServices>
                    <id>b376167b-9189-3f9c-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <versionedComponentId>b230357a-5470-33cb-bdae-d2cb12356943</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>
<name>Include Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Include Trailing Delimiter</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>MINIMAL</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>be6cd424-7eff-3bcf-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <versionedComponentId>de0fbc20-32be-3622-88e3-7d3efafa52cf</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-http-context-map-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>
<name>Maximum Outstanding Requests</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>
<name>Request Expiration</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>StandardHttpContextMap</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>5000</value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>1 min</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.http.StandardHttpContextMap</type>
                </controllerServices>
                <inputPorts>
                    <id>5425d6a1-13bf-3f10-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>2240.0</x>
                        <y>848.0</y>
                    </position>
                    <versionedComponentId>983cc80a-bd19-31ae-833a-0ea051901ecb</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>regles</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>48dfaf70-2b9b-3144-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>2184.0</x>
                        <y>984.0</y>
                    </position>
                    <versionedComponentId>ee8efefd-1865-3062-8c81-c8e702d9b957</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>rules_new.py
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/usr/bin/python3</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/opt/nifi/nifi-current/scripts</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Règles</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>95155921-fb55-3add-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>1648.0</x>
                        <y>808.0</y>
                    </position>
                    <versionedComponentId>72281608-b72b-355c-bce4-59572e5823f7</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Status Code</key>
<value>
    <name>HTTP Status Code</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to add to the HTTP Response (Regex)</key>
<value>
    <name>Attributes to add to the HTTP Response (Regex)</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Status Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>be6cd424-7eff-3bcf-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Attributes to add to the HTTP Response (Regex)</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>HandleHttpResponse</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
                </processors>
                <processors>
                    <id>f5de0f2a-46a1-3997-0000-000000000000</id>
                    <parentGroupId>19f54654-3431-33ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>1640.0</x>
                        <y>984.0</y>
                    </position>
                    <versionedComponentId>5571a055-257c-37c1-b3e9-9d3be102f17b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>/opt/nifi/nifi-current/scripts/results</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>replace</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Règles</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>48d79b26-9e6e-3bbe-0000-000000000000</id>
            <parentGroupId>ef7ec5fc-8a36-3205-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>48d79b26-9e6e-3bbe-afec-9b9f06e90803</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>135149bb-1be9-3229-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>b9f21940-26c7-31c9-84c4-09d607d62b89</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>6670f2ed-9614-344a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>67e73fa9-4643-389d-b95f-f8af549aa8b4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>36a8cb16-a1e1-3502-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>30aa5d9d-d3c4-3b44-bade-b15e9ff04189</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1f728e07-8063-35ec-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>50411e30-06b5-36a3-a3ac-ba495f951a02</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>36a8cb16-a1e1-3502-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>30aa5d9d-d3c4-3b44-bade-b15e9ff04189</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>7cf96493-dfc1-3826-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>af105a89-2524-3ba4-8e5e-38c3c7df54d9</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5edc9edc-b7d2-3fef-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>5edc9edc-b7d2-3fef-9ed6-31c029ea5916</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>48bd1213-c501-35d6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>48bd1213-c501-35d6-85fb-a56c7990741d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>8c27e3c9-a2c8-3f8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2408ffb9-d3a8-3b73-b40f-17982dd4854d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>683e4ff5-75f5-350a-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>683e4ff5-75f5-350a-94d6-9cdec0e09e63</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>724acab6-a15e-3db8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>16b46b3d-80c7-3737-b828-18d346a78c6d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>output stream</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>48bd1213-c501-35d6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>48bd1213-c501-35d6-85fb-a56c7990741d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7358e582-d56a-3e7b-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>86d3289b-dec5-3fbc-b16d-ccc1ef62fef9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>36a8cb16-a1e1-3502-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>30aa5d9d-d3c4-3b44-bade-b15e9ff04189</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>9e4d703b-7015-3681-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e87a2b93-6acd-37da-84f1-0ce57a8f4a85</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>741b0847-9292-3098-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>fc2ee0d0-faec-3439-a424-3afea1b0262d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>8c27e3c9-a2c8-3f8d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2408ffb9-d3a8-3b73-b40f-17982dd4854d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>6670f2ed-9614-344a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>67e73fa9-4643-389d-b95f-f8af549aa8b4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>91fc4c7b-767b-3ad4-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>b5eee93c-432d-39bf-bfa2-2d137d327d14</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>97b080da-6065-31b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e4a730e-9daf-3f0b-9c08-e55addaf8fe0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>11353d6e-b66a-305e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>491e4b23-e619-322e-8f34-fefa79a365e6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bad99333-c792-3098-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>af9b17bc-4864-3ddb-a68d-9eeed50bac04</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>724acab6-a15e-3db8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>16b46b3d-80c7-3737-b828-18d346a78c6d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>query</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>6fc8aa8a-972b-397e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2644d645-86e7-3040-aec6-3c3748d08649</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d967b077-07ec-35fb-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>1a46961d-c00c-322b-a3d4-f2ce5a51e71f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>11353d6e-b66a-305e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>491e4b23-e619-322e-8f34-fefa79a365e6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>724acab6-a15e-3db8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>16b46b3d-80c7-3737-b828-18d346a78c6d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f7288879-45da-3016-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>0cfe6a8d-b40f-3571-a062-d70b8091318b</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>27936326-fa67-3ec6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>e76bc652-6a22-38d3-8f46-75052dd975ed</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48d79b26-9e6e-3bbe-0000-000000000000</groupId>
                        <id>97b080da-6065-31b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1e4a730e-9daf-3f0b-9c08-e55addaf8fe0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>5de1f197-53af-3dbd-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>6cef99a0-2a66-3612-a350-58546d58a169</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-http-context-map-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>
<name>Maximum Outstanding Requests</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>
<name>Request Expiration</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>StandardHttpContextMap</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Maximum Outstanding Requests</key>
                            <value>500000000</value>
                        </entry>
                        <entry>
                            <key>Request Expiration</key>
                            <value>50 min</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.http.StandardHttpContextMap</type>
                </controllerServices>
                <controllerServices>
                    <id>6acc9fce-a2e0-3545-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>27ee8e0a-5432-324d-9d13-f2d442e7d05b</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>
<name>Include Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Include Trailing Delimiter</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Include Header Line</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Quote Mode</key>
                            <value>MINIMAL</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Include Trailing Delimiter</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>a15f1c2d-e491-33a2-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <versionedComponentId>d6e918ad-d71b-3530-9503-4cf0c85e649f</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>
<name>csv-reader-csv-parser</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>
<name>CSV Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Value Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Record Separator</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>
<name>Skip Header Line</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>
<name>ignore-csv-header</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Quote Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Escape Character</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Comment Marker</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Null String</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Null String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim Fields</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>
<name>csvutils-character-set</name>
                            </value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>
<dependencies>
    <dependentValues>custom</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>csvutils-allow-duplicate-header-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>
<dependencies>
    <dependentValues>rfc-4180</dependentValues>
    <propertyName>CSV Format</propertyName>
</dependencies>
<name>Trim double quote</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>CSVReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>csv-reader-csv-parser</key>
                            <value>commons-csv</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>CSV Format</key>
                            <value>custom</value>
                        </entry>
                        <entry>
                            <key>Value Separator</key>
                            <value>,</value>
                        </entry>
                        <entry>
                            <key>Record Separator</key>
                            <value>\n</value>
                        </entry>
                        <entry>
                            <key>Skip Header Line</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>ignore-csv-header</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Quote Character</key>
                            <value>"</value>
                        </entry>
                        <entry>
                            <key>Escape Character</key>
                            <value>\</value>
                        </entry>
                        <entry>
                            <key>Comment Marker</key>
                        </entry>
                        <entry>
                            <key>Null String</key>
                        </entry>
                        <entry>
                            <key>Trim Fields</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>csvutils-character-set</key>
                            <value>UTF-8</value>
                        </entry>
                        <entry>
                            <key>csvutils-allow-duplicate-header-names</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Trim double quote</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.csv.CSVReader</type>
                </controllerServices>
                <outputPorts>
                    <id>27936326-fa67-3ec6-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>1760.0</x>
                        <y>1968.0</y>
                    </position>
                    <versionedComponentId>e76bc652-6a22-38d3-8f46-75052dd975ed</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>vers_regles</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>11353d6e-b66a-305e-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>2440.0</x>
                        <y>2176.0</y>
                    </position>
                    <versionedComponentId>491e4b23-e619-322e-8f34-fefa79a365e6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>
    <dependencies>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <dependencies>
        <dependentValues>Prepend</dependentValues>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Always Replace</dependentValues>
        <dependentValues>Append</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Prepend</name>
</value>
                            </entry>
                            <entry>
<key>Text to Append</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Append</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>[^\w\s,-:]</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value></value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
                            </entry>
                            <entry>
<key>Text to Append</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>10000 MB</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CaractèresSpéciaux</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>36a8cb16-a1e1-3502-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>2440.0</x>
                        <y>1168.0</y>
                    </position>
                    <versionedComponentId>30aa5d9d-d3c4-3b44-bade-b15e9ff04189</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>convert_excel_to_csv.py;"${absolute.path}${filename}"</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/usr/bin/python3</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/opt/nifi/nifi-current/scripts</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExcelToCsv</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>48bd1213-c501-35d6-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>1928.0</x>
                        <y>1744.0</y>
                    </position>
                    <versionedComponentId>48bd1213-c501-35d6-85fb-a56c7990741d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>mapping.py</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/usr/bin/python3</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>/opt/nifi/nifi-current/scripts</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Mapping</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>6670f2ed-9614-344a-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>2440.0</x>
                        <y>1472.0</y>
                    </position>
                    <versionedComponentId>67e73fa9-4643-389d-b95f-f8af549aa8b4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>${filename:substringBeforeLast('.')}.csv</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>text/csv</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>6fc8aa8a-972b-397e-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>2440.0</x>
                        <y>1704.0</y>
                    </position>
                    <versionedComponentId>2644d645-86e7-3040-aec6-3c3748d08649</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>
    <name>cache-schema</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>query</key>
<value>
    <name>query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>a15f1c2d-e491-33a2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>6acc9fce-a2e0-3545-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                            <entry>
<key>cache-schema</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>query</key>
<value>SELECT
  PATIENTID as PatientNumber,
  'Hopital 1' as Hospital,
  BIRTHDATE as DateOfBirth,
  GENDER as Gender,
  '' as PatientDeceased,
  DEATH_DATE as DateofDeath,
  '' as PlaceOfBirth,
  '' as EthnicOrigin,
  NATIONALITY as Nationality,
  SUBSTRING(PATIENT_NAME, 1, POSITION(' ' IN PATIENT_NAME) - 1) AS LastName,
  SUBSTRING(PATIENT_NAME, POSITION(' ' IN PATIENT_NAME) + 1) AS FirstName,
  MARITALSTATUS as Title,
  '' as MothersName,
  '' as MothersPreName,
  '' as FathersName,
  '' as FathersPreName,
  '' as FamilyDoctor,
  NATIONALID as NationalID,
  '' as FileDateCreation
FROM FLOWFILE</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Mapping</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>query</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryRecord</type>
                </processors>
                <processors>
                    <id>724acab6-a15e-3db8-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>2440.0</x>
                        <y>1928.0</y>
                    </position>
                    <versionedComponentId>16b46b3d-80c7-3737-b828-18d346a78c6d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>
    <dependencies>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <dependencies>
        <dependentValues>Prepend</dependentValues>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Always Replace</dependentValues>
        <dependentValues>Append</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Prepend</name>
</value>
                            </entry>
                            <entry>
<key>Text to Append</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Append</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>[^\x00-\x7F]+</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value></value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
                            </entry>
                            <entry>
<key>Text to Append</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>100000 MB</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Line-by-Line</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>CodeAscii</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>7cf96493-dfc1-3826-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>1736.0</x>
                        <y>1168.0</y>
                    </position>
                    <versionedComponentId>af105a89-2524-3ba4-8e5e-38c3c7df54d9</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>
    <name>Keep Source File</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>
    <name>Polling Interval</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Directory</key>
<value>/opt/nifi/nifi-current/scripts</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>CIUSS_TKFH_Enc.ED_2019_essai.xlsx</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Keep Source File</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Polling Interval</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetFile</type>
                </processors>
                <processors>
                    <id>8c27e3c9-a2c8-3f8d-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>1728.0</x>
                        <y>1472.0</y>
                    </position>
                    <versionedComponentId>2408ffb9-d3a8-3b73-b40f-17982dd4854d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>/opt/nifi/nifi-current/scripts/hijri.py</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>/usr/bin/python3</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>;</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>256</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>HijriDates</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>nonzero status</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>output stream</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>97b080da-6065-31b0-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>1704.0</x>
                        <y>2176.0</y>
                    </position>
                    <versionedComponentId>1e4a730e-9daf-3f0b-9c08-e55addaf8fe0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>
    <dependencies>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <dependencies>
        <dependentValues>Prepend</dependentValues>
        <dependentValues>Regex Replace</dependentValues>
        <dependentValues>Always Replace</dependentValues>
        <dependentValues>Append</dependentValues>
        <dependentValues>Literal Replace</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Prepend</name>
</value>
                            </entry>
                            <entry>
<key>Text to Append</key>
<value>
    <dependencies>
        <dependentValues>Surround</dependentValues>
        <propertyName>Replacement Strategy</propertyName>
    </dependencies>
    <name>Text to Append</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>
    <name>Line-by-Line Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Regular Expression</key>
<value>[ ]{2,}</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value> </value>
                            </entry>
                            <entry>
<key>Text to Prepend</key>
                            </entry>
                            <entry>
<key>Text to Append</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>100000 MB</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Line-by-Line</value>
                            </entry>
                            <entry>
<key>Line-by-Line Evaluation Mode</key>
<value>All</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Vides</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>9e4d703b-7015-3681-0000-000000000000</id>
                    <parentGroupId>48d79b26-9e6e-3bbe-0000-000000000000</parentGroupId>
                    <position>
                        <x>1728.0</x>
                        <y>976.0</y>
                    </position>
                    <versionedComponentId>e87a2b93-6acd-37da-84f1-0ce57a8f4a85</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Protocols</key>
<value>
    <dependencies>
        <propertyName>SSL Context Service</propertyName>
    </dependencies>
    <name>HTTP Protocols</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>
    <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
    <name>HTTP Context Map</name>
</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
<value>
    <name>Allowed Paths</name>
</value>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>
    <name>Default URL Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>
    <name>Allow GET</name>
</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>
    <name>Allow POST</name>
</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>
    <name>Allow PUT</name>
</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>
    <name>Allow DELETE</name>
</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>
    <name>Allow HEAD</name>
</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>
    <name>Allow OPTIONS</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Threads</key>
<value>
    <name>Maximum Threads</name>
</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
<value>
    <name>Additional HTTP Methods</name>
</value>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>
    <name>Client Authentication</name>
</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>
    <name>container-queue-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>parameters-to-attributes</key>
<value>
    <name>parameters-to-attributes</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Listening Port</key>
<value>5003</value>
                            </entry>
                            <entry>
<key>Hostname</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>HTTP Protocols</key>
<value>HTTP_1_1</value>
                            </entry>
                            <entry>
<key>HTTP Context Map</key>
<value>5de1f197-53af-3dbd-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Allowed Paths</key>
                            </entry>
                            <entry>
<key>Default URL Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Allow GET</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow POST</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow PUT</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow DELETE</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Allow HEAD</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Allow OPTIONS</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Maximum Threads</key>
<value>200</value>
                            </entry>
                            <entry>
<key>Additional HTTP Methods</key>
                            </entry>
                            <entry>
<key>Client Authentication</key>
<value>No Authentication</value>
                            </entry>
                            <entry>
<key>container-queue-size</key>
<value>50</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                            <entry>
<key>parameters-to-attributes</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>HandleHttpRequest</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Mapping TER</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/24/2023 21:20:57 UTC</timestamp>
</template>
